
body {
    background-color: gray;
}

.logo-container {
    border: 2px solid #333; /* Цвет и толщина рамки */
    border-radius: 50%; /* Создание круглой формы */
    overflow: hidden; /* Обрезание изображения по границам контейнера */
    width: 350px; /* Задайте необходимую ширину */
    height: 350px; /* Задайте необходимую высоту */
}

.logo-container img {
    width: 100%; /* Заполнение контейнера изображением */
    height: 100%;
    object-fit: cover; /* Подгон изображения под размер контейнера */
}